.portfolio {
    padding: 60px 0;
    background: #f7f7f7;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .portfolio-wrap img {
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio-wrap:hover img {
    transform: scale(1.1);
  }
  
  .portfolio-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  
  .portfolio-overlay h4,
  .portfolio-overlay p {
    color: white;
    margin-bottom: 10px;
  }
  
  .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.5s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .bi-github {
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .portfolio-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  