.head{
    background-color: #333;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    
}

.btn-outline-success ,.container-fluid {
    display: flex;
    background-color: #333;
    color: #ffffff;
    border-color: #333;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(243, 222, 196);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
    height: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.col-lg-4:hover .card-img-top {
    transform: scale(1.1);
}
.container {
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-family:fantasy;
}